/*
Jason Katz
ECE-462 Project 2: Othello

File: main.css
Description: Custom styling for webpage
 */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

canvas {
    float: left;
}

#ui-container {
    float: right;
    text-align: center;
}

#available-moves {
    padding: 20px;
}
